.big-container {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-template-rows: .7fr .3fr .8fr .3fr .2fr .3fr;
 grid-template-areas:
 "head head head head"
 " intro intro container container "
 ". proj-container proj-container ."
 "div2 div2 div2 div2"
 "div 3div3 div3 div3"
 ". contact contact ."
}

@media only screen and (max-width: 550px){

.big-container {
 grid-template-columns: 1fr;
 grid-template-rows: .4fr .3fr .3fr .7fr .4fr .2fr .2fr;
 grid-template-areas: 
 "head"
 "intro"
 "container"
 "proj-container"
 "div2"
 "div3"
 "contact";
}
}
body {
 z-index: 0;
background-repeat: repeat;
background-attachment: fixed ;
height: 3300px;

 background: rgb(167,115,86);

background: linear-gradient(180deg, rgba(167,115,86,1) 0%, rgba(167,115,86,1) 24%, rgba(58,81,84,1) 26%, rgba(58,81,84,1) 50%, rgba(146,154,162,1) 53%, rgba(146,154,162,1) 75%, rgba(29,38,37,1) 77%, rgba(29,38,37,1) 100%);
}


.head {
   grid-area: head;
  transform: translateY(70px);
  transition: transform 1.0s ease;
}

.head.active {
  transform: translateY(5);
}
@keyframes slide-up {
  from {
    transform: translateX(70px);
    opacity: .5;
  }
  to {
    transform: translateX(0);
    opacity: .8;
  }
}

.item {
  animation-name: slide-up;
  animation-duration: 1.0s;
  animation-timing-function: ease;
  animation-play-state: running;
  opacity: .8;
}


.div {
height: 60px;
}
.head {
 border: none;
 border-radius: 15px;
 box-shadow: 0 5px 5px 0, 
 rbga(0, 0, 0, 0.5);
 font-size: 40px;
 font-family: 'Comfortaa', cursive;
 text-align: center;
 padding: 10px;
 z-index: 1;
 color: white;
 opacity: .8;
 height: 270px
 grid-area: head;
 margin: 100px 0 0 0;
}
.intro {
 border: none;
 border-radius: 10px;
 height: 90px;
 top: 450px;
 padding: 15px;
 font-size: 25px;
 z-index: 1;
 opacity: .7;
 font-family: 'Quicksand', sans-serif;
 margin: 100px 0 0 0;
 display: flex;
 color: white;
 text-align: center;
 grid-area:intro;
 
}
.container {
 border-radius: 5px;
 display: flex;
 flex-wrap:wrap;
 z-index: 1;
 margin: 100px 0 0 0;
 font-family: 'Quicksand', sans-serif;
 color: white;
 opacity: .7;
 height: 40px;

 flex-direction: row;
 grid-area: container;
}
.item {
 display: flex;
 font-size: 18px;
 z-index: 1;
 font-family: 'Quicksand', sans-serif;
 color: black;
 border: none;
 border-radius: 20px;
 background-color: white;
 opacity: .8;
 padding: 15px;
 margin: 10px;
}

.intro2 {
 z-index: 1;
 color: white;
 position: absolute;
 font-size: 25px;
 font-family: 'Quicksand', sans-serif;
 opacity: .8;
 text-align: center;
 display: flex;
 margin: 125px 10px 90px 10px;
}
.div2 {
 border: none;
 border-radius: 10px;
 z-index: 1;
 align-text: left;
 display: block; 
 width: 300px;
 height: 500px;
 margin: 100px 0 0 0;
 grid-area: div2;
}
.works {
 border: solid white 1px;
 border-radius: 10px;
 z-index: 1;
 display: block;
 color: white;
 font-family: 'Quicksand', sans-serif;
 font-size: 18px;
 opacity: .8;
 margin: 20px 5px 20px 1px;
 padding: 5px 10px 5px 10px;
 width: 300px;
 box-shadow: 0 3px 3px 0
 rgba(0,0,0,0.5);
}
.proj1 {
 height: 200px;
 position: relative;
 border: none;
 border-radius: 10px;
 z-index: 1;
 display: flex;
 flex-direction:column;
 
}
.wrk {
 border: none;
 border-radius: 10px;
 height: 90px;
 padding: 15px;
 font-size: 25px;
 z-index: 1;
 opacity: .7;
 font-family: 'Quicksand', sans-serif;
 display: flex;
 color: white;
 
}
.ed {
 border: none;
 border-radius: 10px;
 height: 90px;
 padding: 15px;
 font-size: 25px;
 z-index: 1;
 opacity: .7;
 font-family: 'Quicksand', sans-serif;
 display: flex;
 color: white;
}
.edu {
 border: solid white 1px;
 border-radius: 10px;
 z-index: 1;
 display: block;
 color: white;
 font-family: 'Quicksand', sans-serif;
 font-size: 18px;
 opacity: .8;
 margin: 20px 5px 20px 1px;
 padding: 5px 10px 5px 10px;
 width: 300px;
 box-shadow: 0 3px 3px 0
 rgba(0,0,0,0.5);
}
.div3 {
 border: none;
 border-radius: 10px;
 z-index: 1;
 padding: ;
 align-text: left;
 width: 300px;
 height: 500px;
 margin: 100px 0 0 0;
 grid-area: div3;
}
.proj-container {
 margin: 10px 5px 10px 5px;
 
 grid-area: proj-container;
}
.myProj {
font-family: 'Comfortaa', cursive;
font-size: 35px;
color: white;
text-align: center;
margin: 180px 0 0 0;
}

.desc {
 grid-area: desc;
 font-size: 23px;
 font-family: 'Comfortaa', cursive;
 color: white;
 padding: 10px;
 margin: 70px 0 0 0;
 text-align: center;
}
.oldNysoh1 {
grid-area: oldNysoh;
 border: solid white .5px;
border-radius: 15px;
padding: 10px;
font-family: 'Quicksand', sans-serif;
width: 160px;
box-shadow: 0 3px 3px 0
 rgba(0,0,0,0.5);
}
.oldNysoh {
 grid-area: oldNysoh;
 color: white;
  text-decoration: none;
  cursor: pointer;
 font-size: 17px;
 border-radius: 10px;
 padding: 10px;
width: 160px;
 text-align: center;
 border: none;
 font-family: 'Comfortaa',Cursive;
}
.newNysoh1{
grid-area: newNysoh;
 border: solid white .5px;
 text-align: left;
border-radius: 15px;
width: 160px;
padding: 10px;
box-shadow: 0 3px 3px 0
 rgba(0,0,0,0.5);
}
.newNysoh {
 grid-area: newNysoh;
 color: white;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  justify-content: center;
 font-size: 17px;
width: 160px;
 padding: 10px;
 border-radius: 10px;
 border: none;
 font-family: 'Comfortaa',Cursive;
}

.top {
color: black;
  text-decoration: none;
  cursor: pointer;
 opacity: .7;
 padding: 10px;
 font-size: 20px;
 border-radius: 10px;
 border: none;
 font-family: 'Comfortaa',Cursive;
 margin: 10px;
 }

 .top1 {
  border: none;
background-color: ;
border-radius: 15px;
opacity: .7;
color: ;
font-family: 'Quicksand', sans-serif;
text-decoration: none;
cursor: pointer;
font-size: 20px;
position: relative;
margin: 10px;
padding: 10px;
box-shadow: 0 3px 3px 0
 rgba(0,0,0,0.5);
 }
 .letsChat {
  border: none;
 border-radius: 15px;
 box-shadow: 0 5px 5px 0, 
 rbga(0, 0, 0, 0.5);
 font-size: 40px;
 font-family: 'Comfortaa', cursive;
 text-align: center;
 padding: 180px 10px 70px 10px;
 z-index: 1;
 color: white;
 opacity: .8;

 }
.email{
 border: none;
 border-radius: 10px;
 padding: 15px;
 font-size: 25px;
 z-index: 1;
 font-family: 'Quicksand', sans-serif;
 display: flex;
 color: white;
 align-text: left;
 text-decoration: none;
 cursor: pointer;

 }
 .linked, .resume {
  border: none;
 border-radius: 10px;
 font-size: 25px;
 z-index: 1;
 position: relative;
 font-family: 'Quicksand', sans-serif;
 display: block;
 color: white;
 align-text: left;
 text-decoration: none;
 cursor: pointer;
 }
 .linked1, .resume1 {
  border: none;
 border-radius: 10px;
 padding: 15px;
 font-size: 25px;
 z-index: 1;
 position: relative;
 font-family: 'Quicksand', sans-serif;
 display: flex;
 color: white;
 align-text: left;
 }
 .contact {
  grid-area: contact;
 }
